*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dataSources
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/nodeapi/node_modules
/node_modules